@tailwind base;
@tailwind components;
@tailwind utilities;

.button-mine {
    background-color: navy;
    color: aliceblue;
    align-items: center;
    font-weight: 500;
    border-radius: 4rem;
    width: 10rem;
    height: 2rem;
    position: absolute;
}

#ten {
    left: 35%;
}

#one {
    left: 50%;
}

#reroll {
    left: 45%;
}

.alert {
    color: rgb(11, 11, 55);
    font-size: 0.75rem;
    padding: 0%;
    padding-left: 35%;
    border-radius: 0%;
}
